body{
    margin: 0;
    font-family: Montserrat;
}
header{
    margin-top: 25px;
}
label.Logo{
    color: rgb(0, 0, 0);
    font-size: 35px;
    line-height: 90px;
    padding: 0 100px;
    font-weight: bold;
}
nav ul{
    float: right;
    margin-right: 80px;
}
ul > li{
    list-style: none;
    display: inline-block;
    line-height: 70px;
    margin: 0 5px;
}
ul > li > a{
    text-decoration: none;
    color: black;
    font-size: 18px;
    font-weight: 800;
    margin-right: 14px;
}

.checkbtn{
    font-size: 30px;
    color: black;
    float: right;
    line-height: 85px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}
#check{
    display: none;
}

@media (max-width: 952px){
    label.Logo{
        font-size: 16px;
        padding-left: 30px;
    }
    nav ul li a{
        font-size: 16px;
    }
}
@media (max-width: 858px){
    .checkbtn{
        display: block;
    }
    ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        top: 80px;
        left: -120%;
        text-align: center;
        background: rgba(92, 157, 243, 0.938);
        transition: all .5s;
    }
    nav ul li{
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    nav ul li a{
        font-size: 20px;
        color: #fff;
    }
    a:hover{
        color: rgba(126, 80, 63, 0.575);
    }
    #check:checked ~ ul{
        left: 0;

    }
}


/* First-section */


/* section{
    display: flex;
} */
.first-section{
    margin-top: 90px;
    margin-bottom: 60px;
    display: flex;
}

h1{
    font-size: 45px;
    letter-spacing: 1.5px;
}

.myself{
    font-size: 20px;
    line-height: 25px;
    margin-bottom: 35px;
}
.mission{
    color: #70a1ff;
}
.first-half{
    width: 50%;
    margin-top: 40px;
    margin-left: 8%;

}
.second-half{
    width: 50%;
    background-image: url(images/Circle\ design.svg);
    background-repeat: no-repeat;
    margin-left: 20px;
    padding-bottom: 50px;
}
.second-half img{
    width: 65%;
    margin-left: 5%;
    transition: all 0.3s;
    display: block;
    height: auto;
    transform: scale(1);
}
.second-half:hover img {
    transform: scale(1.1);
}

.me-button{
    text-decoration: none;
    font-size: 17px;
    font-weight: 700;
    color: black;
    background-color: #70a1ff;
    padding: 12px 25px;
    border-radius: 50px;
    margin-bottom: 55px;
    display: inline;

}
.me-button:hover{
    background-color: #045cff;
    color: white;
    
}
.myself1{
    font-size: 20px;
    line-height: 25px;
    margin-top: 35px;
}


@media only screen and (max-width:688px){
    .first-section{
        flex-direction: row;
        flex-wrap: wrap;
        align-content: stretch;
        justify-content: space-around;
        align-items: flex-start;
    }
    .first-half{
        width: 80%;
        margin-top: 5px;
        margin-bottom: 30px;
    
    }
    .second-half{
        width: 80%;
        background-image: url(images/Circle\ design.svg);
        background-repeat: no-repeat;
        background-image: center;
        padding-bottom: 50px;
    }
    
}



/* Second-section */


.imgs{
    
  margin-left: 20%;
}
.im{
    margin-right: 55px;
    width: 95px;
    padding: 5px 0 5px 0;
}
.hr{
    width: 80%;
    background-color: #045cff91;
}


/* <!-- Third-section --> */


.popular{
    text-align: center;
    margin-top: 90px;
    margin-bottom: 50px;
    font-size: 30px;
}
.third{
    margin-left: 10%;
    margin-right: 10%;
}
.collections{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 45px;
}
.collection{
    border: 1px solid #045cff91;
    padding: 22px 0px 10px 35px;
    border-radius: 10px;
    
    margin-bottom: 30px;
}
.collect-info{
    display: flex;
    align-items: center;
}
.collect-title{
    font-weight: bold;
    font-size: 25px;
    margin-top: 15px;
}
.fa-star.full{
    color: rgb(255, 192, 19);
}
.fa-star.empty{
    color: rgb(199, 197, 197);
}
.more{
    position: absolute;
    right: 150px;
    text-decoration: none;
    color: #045cff;
    font-weight: 800;
  } 
  .fa-arrow-right{
      margin-left: -12px;
  }

@media only screen and (max-width:688px){
    .collections{
        grid-template-columns: repeat(1, 1fr);
        
    }
    .collection{
        margin-bottom: 30px;
        margin-left: -20px;
        padding: 5px 0px 10px 10px;
    }
    .more{
        position: absolute;
        right: 40px;
        text-decoration: none;
        color: #045cff;
        font-weight: 800;
        margin-top: -30px;
      } 
}
@media only screen and (min-width: 688px) and (max-width:992px){
    .third{
        width: 100%;
    }
    .collections{
        grid-template-columns: repeat(2, 1fr);
        margin-left: -50px;
        margin-right: 3px;
    }
    .collection{
        padding: 10px 0px 10px 40px;
    }
}



/* <!-- Forth/contact-section --> */

.contact{
    position: relative;
    min-height: 100vh;
    padding: 50px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.contact .content{
    max-width: 800px;
    text-align: center;
}

.contact .content h2{
    font-size: 36px;
    font-weight: 500;
    color: black;
}
.contact .content p{
    
    font-weight: 300;
    color: black;
}

.container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}
.container .contactinfo{
    width: 50%;
    display: flex;
    flex-direction: column;
}
.container .contactinfo .box{
    position: relative;
    padding: 20px 0;
    display: flex;
}
.container .contactinfo .box .icon{
    min-width: 60px;
    height: 60px;
    background: #045cffb6;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 22px;
    color: #fff;
}
.container .contactinfo .box .text{
    display: flex;
    margin-left: 20px;
    font-size: 16px;
    color: #000;
    flex-direction: column;
    font-weight: 300;
}
.container .contactinfo .box .text h3{
    font-weight: 500;
    color: #00bcd4;
}
.contactform{
    width: 40%;
    padding: 40px;
    background-color: #cad8f115;
    border: 2px solid #045cff91;
    border-radius: 5px;
}
.contactform h2{
    font-size: 30px;
    color: #333;
    font-weight: 500;
}
.contactform .inputBox{
    position: relative;
    width: 100%;
    margin-top: 10px;
}
.contactform .inputBox input,
.contactform .inputBox textarea
{
    width: 100%;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    border: none;
    border-bottom: 2px solid #333;
    outline: none;
    resize: none;
}
.contactform .inputBox span{
    position: absolute;
    left: 0;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    pointer-events: none;
    transition: 0.5s;
    color: #666;
}
.contactform .inputBox input:focus ~ span,
.contactform .inputBox input:valid ~ span,
.contactform .inputBox textarea:focus ~ span,
.contactform .inputBox textarea:valid ~ span{
    color: #e91e63;
    font-size: 12px;
    transform: translateY(-20px);
}
.contactform .inputBox input[type="submit"]{
    width: 100px;
    background: #045cff91;
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 18px;
    border-radius: 5px;
}


@media only screen and (max-width:688px){
    .contact{
        padding: 50px;
    }
    .container{
        flex-direction: column;
    }
    .container .contactinfo{
        margin-bottom: 40px;
    }
    .container .contactinfo,
    .contactform
    {
        width: 100%;
    }
}




/* Footer-area */



footer{
    background-color: #045cff5d;
    padding: 20px 0 30px 0;
    
}
.all{
    text-align: center;
}
.social-icon{
    margin-top: 20px;
}
.icons{
    
    background: #045cffb6;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 22px;
    color: #fff;
    padding: 10px 10px;
    margin-right: 15px;
}